@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  @apply h-full;
}


#nprogress .bar {
  @apply bg-blue-default;
}

#nprogress .spinner-icon {
  @apply border-t-green-default border-l-green-default;
}

.leaflet-bar {
  @apply print:hidden;
}
